h6, p{
   color: #666666;
}

#main-settings{
    background-color: white;
    color:black;
 }

 #main-settings{
    #cancel-membership{
       background-color: #E2E2E2;
       font-size: 0.8em;
    }
    #image-profile{
       width:50px
    }
    #blank-space {
       height: 50px;
    }
 }
